<section class="contact">
    <div class="content_wrapper">
        <div class="contact_wrapper">
            <div class="text_wrapper">
                <p class="section_title">Contact me</p>
                <h2>Let's work together</h2>
                <h5>Got a problem to solve?</h5>
                <p>Encourage people to contact you and describe what role you are interested in. Show that you will add
                    value to their projects through your work. <br><br>

                    Need a Frontend developer? <span>Let's talk!</span></p>

            </div>
            <div class="forms_wrapper">
                <div class="form_row">
                    <h5>Whats's your name?</h5>
                    <input placeholder="Your name goes here" type="text">
                </div>
                <div class="form_row">
                    <h5>Whats's your email?</h5>
                    <input placeholder="youremail@email.com" type="text">
                </div>
                <div class="form_row">
                    <h5>How can I help you?</h5>
                    <input placeholder="Hello Frank, i am interested in..." type="text">
                </div>
                <div class="privacy">
                    <input class="privacy_check" type="checkbox" name="privacy-policy" id="privacy-policy">
                    <div class="privacy_text">
                        <p>I've read the <a href="">privacy policy</a> and agree to the processing of my data as
                            outlined.</p>
                    </div>
                </div>
                <div class="submit">
                    <button>Say Hello ;)</button>
                </div>
            </div>
        </div>
    </div>
</section>