<header>
    <div class="content_wrapper">
        <nav>
            <img src="./assets/images/language_switch.png" alt="language_switch">
            <div class="links">
                <a href="#about">About me</a>
                <img src="./assets/images/radio_button_unchecked.png" alt="">
            </div>
            <div class="links">
                <a href="#skills">Skills</a>
                <img src="./assets/images/radio_button_unchecked.png" alt="">
            </div>
            <div class="links">
                <a href="#projects">Projects</a>
                <img src="./assets/images/radio_button_unchecked.png" alt="">
            </div>
        </nav>
        <img src="./assets/images/logo.png" alt="logo">
    </div>
</header>