<section class="about_me">
    <div class="content_wrapper">
        <div class="about_wrapper">
            <div class="img_wrapper">
                <img src="./assets/images/profilbild_bw.png" alt="Profilbild Frank Preuß">
            </div>
            <div class="about_text_wrapper">
                <div class="about_text_content">
                    <h2>About me</h2>
                    <div class="about_text">
                        <p>Hey there, I'm Frank! Write some information about yourself that is IT related. Why are you
                            passionate about coding? What is your source of inspiration for improving your programming
                            skills?</p>
                        <ul>
                            <li class="li_one">Where are you based? Would you be open to working remotely or potentially
                                relocating?
                            </li>
                            <li class="li_two">Show that you are open-minded. Are you enthusiastic about learning new
                                technologies and
                                continually improving your skills?</li>
                            <li class="li_three">A brief description of your problem-solving approach.
                                Do you learn from each challenge as you search for the most efficient or elegant
                                solution? You can include some keywords like: analytical thinking, creativity,
                                persistence and collaboration.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>