<section class="hero">
    <div class="content_wrapper">
        <div class="scroll_down">
            <div class="arrow_down">
                <img src="./assets/images/arrow.png" alt="scroll down">
            </div>
            <div class="bar"></div>
        </div>
        <div class="introduction">
            <h3>Frontend Developer</h3>
            <h1>Frank Preuß</h1>
            <div class="intro_btns">
                <button>Check my work</button>
                <button>Contact me</button>
            </div>
        </div>
        <div class="social_links">
            <a href="mailto:preuss.frank.94@gmail.com" class="mailto">
                <span>preuss.frank.94@gmail.com</span>
                <img src="./assets/images/mail.png" alt="Email">
            </a>
            <div class="social_icons">
                <div class="social_wrapper">
                    <a href="https://github.com/FrankPreuss94" target="_blank">
                        <img class="social_icon normal" src="./assets/images/Github.png" alt="Github">
                        <img class="social_icon hover" src="./assets/images/Github_hover.png" alt="Github">
                    </a>
                    <img class="dot" src="./assets/images/radio_button_unchecked.png" alt="dot">
                </div>
                <div class="social_wrapper">
                    <a href="https://www.linkedin.com/in/frank-preu%C3%9F-9588311a1/" target="_blank">
                        <img class="social_icon normal" src="./assets/images/Linkedin.png" alt="Linkedin">
                        <img class="social_icon hover" src="./assets/images/Linkedin_hover.png" alt="Linkedin">
                    </a>
                    <img class="dot" src="./assets/images/radio_button_unchecked.png" alt="dot">
                </div>

            </div>
            <div class="bar"></div>
        </div>
    </div>

    <div class="banner">
        <div class="banner_content">

            @for (copy of bannerCopies; track copy) {
            <div class="banner_group">

                @for (item of bannerItems; track item) {
                <p>{{ item }}</p>
                <img src="./assets/images/radio_button_unchecked.png" alt="dot">
                }

            </div>
            }


        </div>
    </div>
</section>