<section class="hero">
    <div class="content_wrapper">
        <div class="scroll_down">
            <div class="arrow_down">
                <img src="./assets/images/arrow.png" alt="scroll down">
            </div>
            <div class="bar"></div>
        </div>
        <div class="introduction">
            <h3>Frontend Developer</h3>
            <h1>Frank Preuß</h1>
            <div class="intro_btns">
                <button>Check my work</button>
                <button>Contact me</button>
            </div>
        </div>
        <div class="social_links">
            <p>preuss.frank.94@gmail.com</p>
            <div class="social_icons">
                <a href="https://github.com/FrankPreuss94" target="_blank"><img src="./assets/images/Github.png"
                        alt="Github"></a>
                <a href="https://www.linkedin.com/in/frank-preu%C3%9F-9588311a1/" target="_blank"><img
                        src="./assets/images/Linkedin.png" alt="Linkedin"></a>
            </div>
            <div class="bar"></div>
        </div>
    </div>
</section>