@use '../../../../public/assets/styles/variables.scss' as var;
@use '../../../../public/assets/styles/mixins.scss';

.projects {
    width: 100%;
    padding: 145px 96px;
    display: flex;
    justify-content: center;
    background-color: rgba(28, 28, 28, 1);
}

.content_wrapper {
    width: 100%;
    height: 80%;
    max-width: 1440px;
}

.projects_wrapper {
    width: 100%;
    position: relative;

    .section_title {
        position: absolute;
        left: 0;
        top: -40px;
        color: var.$color-primary;
        font-size: 24px;
        @include mixins.karla7;
    }

    h2 {
        font-size: 64px;
        color: var.$color-primary;
        @include mixins.fira7;
        margin-bottom: 41px;
    }
}

.projects_intro {
    width: 35%;
    display: flex;
    align-items: center;
    @include mixins.karla4;
    font-size: 18px;
    margin-bottom: 41px;
}

.project_list {
    width: 880px;
}

.project_row {
    position: relative;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    border-top: 1px solid var.$color-primary;
    border-bottom: 1px solid var.$color-primary;
    cursor: pointer;

    &:hover {
        background-color: rgba(61, 207, 182, 0.25);
        transition: background-color 0.2s ease;
    }
}

.project_name {

    h3 {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 8px;
        @include mixins.fira7;
        font-size: 24px;

        img {
            width: 12px;
            height: 12px;
            opacity: 0;
            transition: opacity 0.2s ease;
        }
    }
}

.project_row:hover {

    .project_name {

        h3 {

            img {
                opacity: 1;
            }
        }
    }
}

.project_tech {
    @include mixins.karla4;
    font-size: 18px;
    text-align: right;

    span {
        color: var.$color-primary;
    }
}

.project_preview {
    position: absolute;
    left: calc(100% + 80px);
    width: 360px;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
    pointer-events: none;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        right: -20px;
        bottom: -20px;
        background-image: url('/assets/images/pattern_projects.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: -1;
    }

    img {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
}

.project_row:hover {

    .project_preview {
        opacity: 1;
        visibility: visible;
    }
}

dialog {
    // width: 80%;
    // height: 80%;
    // max-width: 1440px;
    width: 1248px;
    height: 656px;
    margin: auto;
    background: linear-gradient(45deg,
            rgba(28, 28, 28, 1) 35%,
            rgba(8, 70, 59, 1) 100%);
    border: none;
    border-radius: 30px;
    padding: 64px 80px;
}

.detail_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    gap: 88px;
}

.close_wrapper {
    position: absolute;
    right: 95px;

    button {
        position: relative;
        width: 25px;
        height: 25px;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition:
                opacity 0.2s ease,
                transform 0.2s ease;
        }

        .close_default {
            width: 18px;
            height: 18px;
            opacity: 1;
        }

        .close_hover {
            width: 25px;
            height: 25px;
            opacity: 0;
        }

        &:hover {
            .close_default {
                opacity: 0;
                transform: translate(-50%, -50%) scale(1.2);
            }

            .close_hover {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}

.description_wrapper {
    width: 55%;

    .name_id {
        h2 {
            @include mixins.karla7;
            font-size: 128px;
            margin-bottom: 0px;
        }

        h3 {
            @include mixins.fira7;
            font-size: 64px;
        }
    }

    .description {
        h5 {
            @include mixins.fira7;
            font-size: 24px;
            color: var.$color-primary;
            margin-bottom: 20px;
        }

        p {
            @include mixins.karla4;
            font-size: 18px;
            margin-bottom: 32px;
        }
    }

    .tech_stack {
        display: flex;
        gap: 16px;
        margin-bottom: 42px;

        .single_tech {
            display: flex;
            align-items: center;
            @include mixins.karla4;
            font-size: 16px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.links_wrapper {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;

    a {
        width: 130px;
        height: 48px;
        border: 1px solid white;
        border-radius: 100px;
        text-decoration: none;
        @include mixins.karla4;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        transition:
            color 0.2s ease,
            border-color 0.2s ease;

        img {
            width: 10.5px;
            height: 10.5px;
            transition: transform 0.2s ease;
        }

        &:hover {
            color: var.$color-primary;
            border-color: var.$color-primary;

            img {
                transform: translateX(3px);
            }
        }
    }
}


.preview_wrapper {
    width: 45%;
    display: flex;
    align-items: center;

    img {
        width: 520px;
        height: 370px;
        border-radius: 30px;
    }
}

.scoll_buttons {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 95px;
    bottom: 55px;

    button {
        width: 148px;
        height: 40px;
        background-color: transparent;
        border: none;
        display: flex;
        @include mixins.karla4;
        font-size: 18px;
        color: var.$color-primary;
        display: flex;
        align-items: center;
        gap: 14px;
        cursor: pointer;
        transition: color 0.2s ease;

        img {
            width: 18px;
            height: 18px;
            transition: transform 0.2s ease;
        }

        &:hover {
            color: white;

            img {
                transform: translateX(4px);
            }
        }
    }
}