<section class="projects">
    <div class="content_wrapper">
        <div class="projects_wrapper">
            <div class="portfolio_wrapper">
                <p class="section_title">Portfolio</p>
                <div class="portfolio">
                    <h2>Featured Projects</h2>
                    <div class="projects_intro">
                        <p>
                            Explore a selection of my work here - Interact with projects to see my skills in action.
                        </p>
                    </div>
                    <div class="project_list">

                        @for (project of projectList; track project) {
                        <div class="project_row">
                            <div class="project_name">
                                <h3>
                                    {{project.projectName}}
                                    <img src="./assets/images/arrow_outward.png" alt="arrow_outward">
                                </h3>
                            </div>
                            <div class="project_tech">
                                <p>@for (tech of project.tech; track tech; let last = $last) {
                                    {{tech}}
                                    @if (!last) {
                                    <span>|</span>}
                                    }
                                </p>
                            </div>
                            <div class="project_preview">
                                <img src="{{project.previewImg}}" alt="{{project.projectName}} preview">
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>