<section class="projects">
    <div class="content_wrapper">
        <div class="projects_wrapper">
            <div class="portfolio_wrapper">
                <p class="section_title">Portfolio</p>
                <div class="portfolio">
                    <h2>Featured Projects</h2>
                    <div class="projects_intro">
                        <p>
                            Explore a selection of my work here - Interact with projects to see my skills in action.
                        </p>
                    </div>
                    <div class="project_list">
                        <div class="project_row">
                            <div class="project_name">
                                <h3>
                                    Join
                                    <img src="./assets/images/arrow_outward.png" alt="arrow_outward">
                                </h3>
                            </div>
                            <div class="project_tech">
                                Angular <span>|</span>
                                TypeScript <span>|</span>
                                HTML <span>|</span>
                                CSS <span>|</span>
                                Firebase
                            </div>
                            <div class="project_preview">
                                <img src="./assets/images/projects/join.png" alt="Join preview">
                            </div>
                        </div>
                        <div class="project_row">
                            <div class="project_name">
                                <h3>
                                    El Pollo Loco
                                    <img src="./assets/images/arrow_outward.png" alt="arrow_outward">
                                </h3>
                            </div>
                            <div class="project_tech">
                                HTML <span>|</span>
                                CSS <span>|</span>
                                JavaScript
                            </div>
                            <div class="project_preview">
                                <img src="./assets/images/projects/el_pollo_loco.png" alt="El Pollo Loco preview">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>