<footer>
    <div class="content_wrapper">
        <div class="logo_wrapper">
            <img src="./assets/images/logo.png" alt="logo">
            <p>Web Developer</p>
            <p>Essen Germany</p>
        </div>
        <h5>© Frank Preuß 2026</h5>
        <div class="footer_links">
            <a href="http://" target="_blank" rel="noopener noreferrer">Github</a>
            <a href="http://" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="mailto:preuss.frank.94@gmail.com">Email</a>
            <a href="http://" target="_blank" rel="noopener noreferrer">Legal Notice</a>
        </div>
    </div>
</footer>