@mixin karla4 {
    font-family: 'Karla';
    font-weight: 400;
}

@mixin karla5 {
    font-family: 'Karla';
    font-weight: 500;
}

@mixin karla6 {
    font-family: 'Karla';
    font-weight: 600;
}

@mixin karla7 {
    font-family: 'Karla';
    font-weight: 700;
}

@mixin fira4 {
    font-family: 'Fira Code';
    font-weight: 400;
}

@mixin fira5 {
    font-family: 'Fira Code';
    font-weight: 500;
}

@mixin fira6 {
    font-family: 'Fira Code';
    font-weight: 600;
}

@mixin fira7 {
    font-family: 'Fira Code';
    font-weight: 700;
}