@use '../../../../public/assets/styles/variables.scss' as var;
@use '../../../../public/assets/styles/mixins.scss';

.legal_notice {
    width: 100%;
    background: linear-gradient(45deg,
            rgba(28, 28, 28, 1) 35%,
            rgba(8, 70, 59, 1) 100%);
    padding: 145px clamp(20px, 7vw, 96px);
}

.content_wrapper {
    width: 100%;
    height: 80%;
    max-width: 1440px;
}

.legal_wrapper {
    @include mixins.karla4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: clamp(20px, 7vw, 120px);
}

h2 {
    @include mixins.fira7;
    font-size: 64px;
    color: var.$color-primary;
    margin-bottom: 64px
}

h5 {
    @include mixins.karla7;
    font-size: 19px;
}

p {
    margin-bottom: 24px;
    color: var.$color-primary;
}

ul {
    margin: 24px 0;

    li {
        color: var.$color-primary;
    }
}

span {
    color: white;
}

@media (max-width: 700px) {

    .legal_notice {
        padding-inline: 20px;
    }

    .legal_wrapper {
        padding-inline: 0;
    }

    h2 {
        font-size: 48px;
        margin-bottom: 40px;
    }
}