<section class="skills">
    <div class="content_wrapper">
        <div class="skills_wrapper">
            <div class="skills_text_wrapper">
                <p class="section_title">Technologies</p>
                <div class="skills_text">
                    <h2>Skill Set</h2>
                    <div class="text_box">
                        <p class="skills_intro">A short introduction of your skills. Highlight your experience of using
                            different front-end
                            technologies and emphasise your openness to learning and adapting to new technologies. Show
                            how important it is for you to keep up with the rapid changes in web development.</p>
                    </div>
                    <div class="other_skills">
                        <h5>You need <span>another skill?</span></h5>
                        <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
                    </div>
                    <button>Let's Talk</button>
                </div>
            </div>

            <div class="skill_icons">

            </div>
        </div>
    </div>
</section>